<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Detail</title>
</head>
<body>
    <h1>Article detail</h1>
    <hr>

    <!--제목 출력-->
    <h2 th:text="${article.title}">Title</h2>
    <!--내용 출력-->
    <p th:text="${article.content}">Content</p>

    <!--이미지가 있을경우에-->
    <div th:if="${article.imageUrl != null}">
        <img th:src="${article.imageUrl}"
             alt="attach image"
             style="max-width: 400px;
             display: block;
             margin-top:10px;">
    </div>
    <!--max-width는 이미지 최대 너비 400px display는 블록으로 표시, margin-top 위에 여백 10px-->
    <br>
    <hr>
    <a href="/">back to home</a>
    <!--"/"주소로 이동하는 링크임-->

    <!--2026/09/05 22:53 추가-->
    <!--수정, 삭제-->
    <a th:href="@{/article/{id}/edit(id=${article.id})}">Article Edit</a>
    <form
        th:action="@{/article/{id}/delete(id=${article.id})}"
        method="post"
        style="display:inline;"
    >
        <button type="submit">Delete</button>
    </form>

    <!--2026/09/06 23:00 추가-->
    <form
            th:action="@{/article/{id}/delete(id=${article.id})}"
            method="post"
            style="display:inline;"
    >
        <button
                type="submit"
                onclick="return confirm('정말 이 게시글을 삭제할까요?');"
        >
            Delete
        </button>
    </form>
    <!--
        delete 클릭시 You sure delete? 출력 확인 클릭시 삭제 취소 시 삭제X
    -->
</body>
</html>