<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
<h1>Practice Board</h1>
<!--main-->

<!--enctype은 파일을 서버로 전송하기위해 추가됨-->
<form action="/write" method="post" enctype="multipart/form-data">

  <div>
    <label>Title:</label>
    <input type="text" name="title" required>
  </div>
  <br>
  <div>
    <label>Content:</label>
      <textarea name="content" rows="4" cols="30" required></textarea>
  </div>
    <!--이미지 선택 추가-->
    <div>
    <label>Image:</label>
    <input type="file" name="image" accept="image/*">
    <!--브라우저에 파일선택 버튼추가와 파일의 이름을 image로 지정 Controller의 image와 연결됨-->
  </div>
    <br>
  <br>
  <button type="submit">Submit</button>
</form>

<h2>Board List</h2>
<ul>
  <li th:each="article  : ${articles}">
  <!--article 안에 들어있는 게시글 하나씩 반복 게시글이 세개면 article = 1번게시물, article = 2번 게시물 과 같이 반복-->
      <a th:href="@{/article/{id}(id=${article.id})}">
      <!--게시글 제목을 클릭했으르 떄 이동할 주소를 생성-->
      <!--ex: article.id = 5 라면 /article/5 임-->
      <!--즉, 게시물 제목 클릭 -> /article/5 -> @GetMapping("/article/{id}") -> detail() 실행-->
      <strong th:text="${article.title}">title</strong>
      <!--게시물 제목을 굵게 표시-->
      </a>
      <!--a 태그는 클릭 가능한 링크가 됨-->
  </li>
</ul>
</body>
</html>

<!--
2026/09/05-23:32
깃 저장할때 다른사람으로 해서 잔디가 듬성듬성 자랐음
-->
