<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
<h1>Practice Board</h1>
<!--main-->

<!--enctype은 파일을 서버로 전송하기위해 추가됨-->
<form action="/write" method="post" enctype="multipart/form-data">

  <div>
    <label>Title:</label>
    <input type="text" name="title" required>
  </div>
  <br>
  <div>
    <label>Content:</label>
      <textarea name="content" rows="4" cols="30" required></textarea>
  </div>
    <!--이미지 선택 추가-->
    <div>
    <label>Image:</label>
    <input type="file" name="image" accept="image/*">
    <!--브라우저에 파일선택 버튼추가와 파일의 이름을 image로 지정 Controller의 image와 연결됨-->
  </div>
    <br>
  <br>
  <button type="submit">Submit</button>
</form>

<h2>Board List</h2>
<ul>
  <li th:each="article  : ${articles}">
      <a th:href="@{/article/{id}(id=${article.id})}">
      <strong th:text="${article.title}">title</strong>

</ul>
</body>
</html>