<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comment Edit</title>
</head>
<body>
<h1>Comment Edit</h1>

<form
        th:action="@{/article/{articleId}/comment/{commentId}/edit(
            articleId=${articleId},
            commentId=${comment.id}
        )}"
        method="post"
>
        <textarea
                name="content"
                th:text="${comment.content}"
                required
                rows="3"
                cols="50"
        ></textarea>

    <br>

    <button type="submit">Save</button>
</form>

<a th:href="@{/article/{id}(id=${articleId})}">Cancel</a>
</body>
</html>